.descripcion {
    white-space: nowrap;       /* Evita que el texto se divida en varias líneas */
    overflow: hidden;          /* Oculta el texto que no cabe */
    text-overflow: ellipsis;   /* Muestra "..." al final del texto recortado */
  }
 
  .modal-content-e {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-out;
    height: 90%;
    width: 60%;
    text-align: center;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.txt-area{
  height: none;
  max-height: 90%;
  height: 400px;
}