.Container-visitas {
    padding: 20px;
    margin: auto;
    width: 90%;
    max-width: 1200px;
  }
  
  .title-visita {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .datatable {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .datatable-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .datatable-dropdown label {
    display: flex;
    align-items: center;
    font-size: 1rem;
  }
  
  .datatable-selector {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table thead {
    background-color: #007bff;
    color: white;
  }
  
  .table th, .table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .table tbody tr:hover {
    background-color: #f9f9f9;
  }
  
  .icon-clock {
    cursor: pointer;
    color: #007bff;
    font-size: 1.5rem;
    transition: color 0.3s ease;
  }
  
  .icon-clock:hover {
    color: #0056b3;
  }
  