.container {
    margin: 0 auto;
}

.table-responsive {
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px; /* Espaciado */
    text-align: center; /* Centramos el texto en los encabezados */
}

.table th {
    background-color: #f2f2f2;
}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tr:hover {
    background-color: #f1f1f1;
}

@media (max-width: 600px) {
    .table {
        border: 0;
    }

    .table thead {
        display: table-header-group; /* Mantenemos encabezados visibles */
    }

    .table tr {
        margin-bottom: 10px; /* Espacio entre filas */
        border: 1px solid #ddd; /* Borde para filas */
        text-align: justify;
    }

    .table td {
        width: 100%; /* Ancho completo */
        padding: 10px; /* Mejor espaciado */
        border-bottom: 1px solid #ddd; /* Borde inferior */
        text-align: justify; /* Justifica el texto */
    }

    .table td:before {
        content: attr(data-label); /* Utiliza el atributo data-label para mostrar el nombre */
        font-weight: bold; /* Destacar la etiqueta */
        display: inline-block; /* Muestra la etiqueta */
        width: 30%; /* Ancho de la etiqueta */
        text-align: left; /* Alinea la etiqueta a la izquierda */
    }
}
