/* historialVisita.css */
.container {
    margin: 0 auto;
}
.table-responsive {
    overflow-x: auto; /* Permite desplazamiento horizontal si es necesario */
}

.visitas-table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
}

.visitas-table th,
.visitas-table td {
    border: 1px solid #ddd;
    padding: 8px; /* Mejor espaciado */
}

.visitas-table th {
    background-color: #f2f2f2;
}

.visitas-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.visitas-table tr:hover {
    background-color: #f1f1f1;
}

/* Estilos responsive */
@media (max-width: 600px) {
    .visitas-table {
        border: 0;
    }

    .visitas-table thead {
        display: table-header-group; /* Mantenemos encabezados visibles */
    }

    .visitas-table tr {
        margin-bottom: 10px; /* Espacio entre filas */
        border: 1px solid #ddd; /* Borde para filas */
        text-align: justify; /* Justifica el texto */
    }

    .visitas-table td {
        width: 100%; /* Ancho completo */
        padding: 10px; /* Mejor espaciado */
        border-bottom: 1px solid #ddd; /* Borde inferior */
        text-align: justify; /* Justifica el texto */
    }

    .visitas-table td:before {
        content: attr(data-label); /* Utiliza el atributo data-label para mostrar el nombre */
        font-weight: bold; /* Destacar la etiqueta */
        display: inline-block; /* Muestra la etiqueta */
        width: 30%; /* Ancho de la etiqueta */
        text-align: left; /* Alinea la etiqueta a la izquierda */
    }
}

.message-table{
    text-align: center;
    margin: auto;
}
