.registro{
    border: 1px solid black;
    width: 400px;
    color:  white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.top-head{
    background-color: black;
}

.login-register{
    margin-top: 10px;
}

.main-register{
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el formulario */
    padding: 20px;
    background-image: url('http://127.0.0.1:8000/media/imagenes/fondo_login.jpg'); /* Asegúrate de ajustar la ruta según la ubicación */
    background-size: cover; /* Para cubrir toda el área */
    background-position: center; /* Para centrar la imagen */
    background-repeat: no-repeat; /* Evita repetir la imagen */
}


/* Pantallas pequeñas (móviles) */
@media (max-width: 576px) {
    .registro {
        width: 90%; /* Hacer el formulario más pequeño en dispositivos móviles */
        height: auto; /* Ajustar la altura automáticamente */
    }

    .main-register {
        padding: 20px; /* Reducir el padding */
    }

    .registro .title-f {
        font-size: 20px; /* Hacer el título más pequeño */
        margin-bottom: 40px; /* Reducir el margen inferior */
    }

    .login-register {
        font-size: small; /* Hacer el texto más pequeño */
    }
}

/* Pantallas medianas (tabletas) */
@media (min-width: 576px) and (max-width: 768px) {
    .registro {
        width: 75%; /* Ajustar el ancho del formulario */
    }

    .main-register {
        padding: 30px; /* Ajustar el padding para tabletas */
    }

    .registro .title-f {
        font-size: 22px; /* Ajustar el tamaño del título */
    }

    .login-register {
        font-size: medium; /* Ajustar el tamaño del texto */
    }
}

/* Pantallas grandes (escritorios) */
@media (min-width: 768px) {
    .registro {
        width: 400px; /* El tamaño del formulario es más grande */
        height: auto; /* Altura automática */
    }

    .main-register {
        padding: 40px; /* Mantener el padding amplio en escritorio */
    }

    .registro .title-f {
        font-size: 24px; /* Título más grande en pantallas grandes */
        margin-bottom: 60px; /* Aumentar el margen inferior */
    }

    .login-register {
        font-size: medium; /* Mantener el tamaño del texto */
    }
}