/* Fondo semi-transparente para el modal */
.modal.show {
    display: block;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 1050; /* Asegura que esté encima de otros elementos */
}

/* Centrar el modal en la pantalla */
.modal-dialog {
    margin: 10vh auto; /* Margen superior para centrar verticalmente */
    max-width: 500px;
    width: 90%; /* Hace que el modal sea responsivo */
}

.modal-content {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-out;
    max-height: 90%;
    height: auto;
}

/* Animación para que el modal aparezca suavemente */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

.modal-header {
    background-color: #007bff;
    color: #fff;
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    padding: 15px;
}

.modal-title {
    font-size: 1.5rem;
    margin: 0;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 15px;
    border-top: none;
}

/* Botón de cerrar */
.btn-close {
    background: none;
    border: none;
    font-size: 1.2rem;
    color: #ffffff;
    cursor: pointer;
    float: right;
}

/* Estilos para botones */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #37ff00;
    border-color: #5eff00;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn:hover {
    opacity: 0.9;
    transition: 0.2s ease-in-out;
}

@media (max-width: 576px) {
    .modal-dialog {
        max-width: 90%;
    }
}

.form-modal-respuestas {
    width: 100%;
    padding: 10px;
    border: 2px solid #4a4a4a;
    border-radius: 4px;
    resize: vertical; /* Permitir que el usuario ajuste la altura */
    height: auto; /* Altura automática para que crezca según el contenido */
    height: 90%;/* Altura mínima para que sea suficientemente grande */
    max-height: 90%; /* Altura máxima para evitar que se desborde */
    text-align: left; /* Alinear el texto a la izquierda */
    line-height: 1.5; /* Espaciado entre líneas */
    display: block;
    overflow-y: auto; /* Habilitar desplazamiento si es necesario */
}


.custom-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.confirm-modal {
    z-index: 1100;
}

